.navbar {
  width: 100%;
  height: 75px;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  color: #123b8f;
}

.logo span {
  color: #1d5fd1;
}

/* Navigation */

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1557c0;
}

/* Button */

.nav-btn {
  text-decoration: none;
  background: #1557c0;
  color: white;
  padding: 12px 22px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #0d3f91;
  transform: translateY(-2px);
}

/* Mobile */

@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .navbar-container {
    padding: 0 18px;
  }

  .logo {
    font-size: 22px;
  }

  .nav-btn {
    padding: 10px 15px;
  }
}